name: flink

volumes:
  sqlserver_data:

services:
  jobmanager:
    image: flink:1.20.1-scala_2.12-java17
    ports:
      - 8081:8081
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        rest.profiling.enabled: true
        rest.client.max.content.length: 209715200
        rest.server.max.content.length: 209715200
    command: jobmanager

  taskmanager:
    image: flink:1.20.1-scala_2.12-java17
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    command: taskmanager

  # sqlserver:
  #   image: mcr.microsoft.com/mssql/server:2022-latest
  #   restart: always
  #   environment:
  #     ACCEPT_EULA: Y
  #     MSSQL_SA_PASSWORD: YourStrong@Passw0rd
  #     MSSQL_PID: Developer
  #   ports:
  #     - "1433:1433"
  #   volumes:
  #     - sqlserver_data:/var/opt/mssql
  #     - ./init-scripts:/docker-entrypoint-initdb.d
  #   healthcheck:
  #     test: /opt/mssql-tools18/bin/sqlcmd -S localhost -C -U sa -P "YourStrong@Passw0rd" -Q "SELECT 1" -b -o /dev/null
  #     start_period: 30s
  #     interval: 10s
  #     timeout: 3s
  #     retries: 10
