# Copyright Broadcom, Inc. All Rights Reserved.
# SPDX-License-Identifier: APACHE-2.0

name: flink

volumes:
  sqlserver_data:
  oracle_data:

services:
  jobmanager:
    image: docker.io/ntvi/flink:1.20.1-debian-12-java17-r0
    ports:
      - 8081:8081
    environment:
      - FLINK_MODE=jobmanager
      - FLINK_CFG_JOBMANAGER_BIND__HOST=0.0.0.0
      - FLINK_CFG_JOBMANAGER_RPC_ADDRESS=jobmanager
      - FLINK_CFG_REST_ADDRESS=0.0.0.0
      - FLINK_CFG_REST_BIND__ADDRESS=0.0.0.0
      - FLINK_CFG_REST_PROFILING_ENABLED=true
      - FLINK_CFG_REST_CLIENT_MAX__CONTENT__LENGTH=209715200
      - FLINK_CFG_REST_SERVER_MAX__CONTENT__LENGTH=209715200
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'jobmanager'"]
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 10s

  taskmanager:
    image: docker.io/ntvi/flink:1.20.1-debian-12-java17-r0
    environment:
      - FLINK_MODE=taskmanager
      - FLINK_CFG_TASKMANAGER_BIND__HOST=0.0.0.0
      # - FLINK_CFG_TASKMANAGER_DATA_PORT=6121
      # - FLINK_CFG_TASKMANAGER_RPC_PORT=6122
      # - FLINK_CFG_METRICS_INTERNAL_QUERY__SERVICE_PORT=6126
      - FLINK_CFG_TASKMANAGER_HOST=taskmanager
      - FLINK_CFG_JOBMANAGER_RPC_ADDRESS=jobmanager
    depends_on:
      jobmanager:
        condition: service_healthy

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: YourStrong@Passw0rd
      MSSQL_PID: Developer
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./init-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -C -U sa -P "YourStrong@Passw0rd" -Q "SELECT 1" -b -o /dev/null
      start_period: 30s
      interval: 10s
      timeout: 3s
      retries: 10

  oracle:
    image: container-registry.oracle.com/database/express:21.3.0-xe
    restart: always
    environment:
      - ORACLE_PWD=YourStrong@Passw0rd
      # - SCRIPTS_ROOT=YOUR_CUSTOM_SCRIPT_DIR (sh, sql)
    ports:
      - 1521:1521
      - 5500:5500
    volumes:
      - oracle_data:/opt/oracle/oradata
    healthcheck:
      test: /opt/oracle/checkDBStatus.sh
      start_period: 30s
      interval: 10s
      timeout: 3s
      retries: 10
